{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["Last 2 versions", "> 1%"]
      },
      "modules": false,
      "useBuiltIns": true
    }]
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread"
  ]
}
