{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "browser": true
  },
  "globals": {
    "__DEVELOPMENT__": true
  },
  "extends": "airbnb-base/legacy",
  "rules": {
    "strict": 0,
    "no-use-before-define": [2, {
      "functions": false
    }],
    "max-len": [2, 120, 2, {
      "ignoreComments": true,
      "ignoreUrls": true,
      "ignoreStrings": true,
      "ignoreTemplateLiterals": true
    }],
    "no-param-reassign": [0],
    "no-console": [2, {
      "allow": ["warn", "error"]
    }],
    "no-underscore-dangle": [0]
  }
}
