<main class="layout__content width-container">
  <div class="call-to-action page-index__cta">
    <div class="call-to-action__content">
      Contribute to OSS without single line of code.
      <a
        href="https://goo.gl/forms/PVgS3dCf17s2FfVc2"
        class="call-to-action__link"
        target="_blank"
        rel="noopener noreferrer"
      >
        Take part in our survey
      </a>
    </div>
  </div>
  <div class="page-index">
    <p class="page-index__description">
      <%= Ossert.t(:intro) % {text: @warn || Ossert.t(:welcome)} %>
    </p>
    <form action="#" class="page-index__search search search_big">
      <input type="text" class="search__input" placeholder="Type package name..." name="package">
      <button class="search__submit">
        <svg class="icon search__submit-icon">
          <use xlink:href="#icon_type_search"></use>
        </svg>
      </button>
    </form>
    <p> <%= Ossert.t(:random_projects) %> </p>
    <% Ossert::Project.random_top.each do |project| %>
        <p><a class="gem__link link" href="/<%= project.name %>"> <%= project.github_name %></a> </p>
    <% end %>
  </div>
</main>
