<main class="layout__content width-container">
  <div class="page-index">
    <p class="page-index__description">
      <%= @warn || 'Welcome to Ossert!'%>
      <br>
      You can search for a finished analyzes of a project via its name on Rubygems
    </p>
    <form action="#" class="page-index__search search search_big">
      <input type="text" class="search__input" placeholder="Type package name..." name="package">
      <button class="search__submit">
        <svg class="icon search__submit-icon">
          <use xlink:href="#icon_type_search"></use>
        </svg>
      </button>
    </form>
    <p> Random ready analyzes: </p>
    <% Ossert::Project.random_top.each do |project| %>
        <p><a class="gem__link link" href="/<%= project.name %>"> <%= project.github_name %></a> </p>
    <% end %>
  </div>
</main>
