<div class="page-index">
  <p class="page-index__description">
    Sorry, but gem <big> "<%= params[:name] || session[:name] %>" </big> was not analyzed yet.
    <br>
    You can try <a href="/suggest/<%= params[:name] || session[:name] %>"> suggest </a> it.
  </p>
</div>