<div class="page-cossma-login">
  <div class="width-container">
    <h1 class="page-search-results__header">
      Welcome to subscription page of Cossma
    </h1>
    <h2 class="page-search-results__header">
      Experimental project for community management by <a href="https://github.com/sclinede" target="_blank">@sclinede</a>
    </h2>

    <p>
      <a class="gem-header__refresh-button link" href="/cossma/login">Sign in (with GitHub)</a>
    </p>

  </div>
</div>
