<div class="page-cossma-login">
  <div class="width-container">
    <h1 class="page-search-results__header">
      Thank you for supporting Cossma project
    </h1>
    <h2>
      Registration was finished successfully, <br/> <a href="https://github.com/sclinede" target="_blank">@sclinede</a> will keep you updated about very first release of Cossma
    </h2>

  </div>
</div>
